# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/.idea/

AppSecrets.plist
/iosApp/iosApp/AppSecrets.plist
iosApp/AppSecrets.plist
/shared/shared.podspec
Pods
/local.properties
